.cards-wrapper {
  position: absolute;
  bottom: -90px;
  /* left: 50%;
  transform: translateX(-50%); */
  display: flex;
  width: 100%;
  justify-content: center;
}

.card-element {
  border-radius: 8px 8px 10px 10px;
  overflow: hidden;
  width: 130px;
  height: 200px;
  transition: 0.1s;
  margin-left: -20px;
}

.card-element img {
  display: block;
  height: 100%;
}

#arjsDebugUIContainer {
  display: none;
}

.buttons-wrapper {
  position: absolute;
  top: 40px;
  left: 40px;
}
